.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e9e9e9;
  }
  
  .meal-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .item-meal {
    width: 300px;
    margin: 35px;
  }
  
  .card-meal {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .meal-image {
    text-align: center;
  }
  
  .meal-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .actions-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .more-info {
    background-color:  #ccc;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .more-info:hover {
    background-color: #a88958;
}
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .more-meals {
    background-color: #a88958;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .more-meals:hover {
    background-color: white;
}

  @media screen and (max-width: 768px) {
  .item-meal {
    width: 45%;
    margin: 8px;
  }
}

@media screen and (max-width: 480px) {
  .item-meal {
    width: 90%;
    margin: 5px;
  }
}