.meal-main{
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
    justify-content: space-around;
}

.meal-box{
    width: 250px;
    height: 500px;
    margin: 57px;
    display: block;
    align-items: center;
    background-color: #F5B041;
}


.meal{
    display: flex;
    flex-direction: column;
}

.meal-img{
    width: 230px;
    margin: 9px;
    display: flex;
    
}


h1 {

    font-size: 3rem;

}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

.more-info{
    border-color:#873600;
    background-color:#CA6F1E;
    cursor:pointer; 
    width: 75px;
    height: 50px;
}

.more-info:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}


.add-cart{
    border-color: #873600;
    background-color: #BA4A00;
    cursor:pointer;
    width: 100px;
    height: 50px;
}

.add-cart:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}

