.main-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  .details-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .details-name {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .details-extra {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 500px;
  }
  
  .details-extra li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .details-extra h4 {
    margin-left: 10px;
  }
  
  .add-cart-details {
    background-color: #a88958;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .add-cart-details:hover {
    background-color: white;
    color:#a88958;
    border: 1px solid black
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 8px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #a88958;
    border-color: black;
  }
  
  input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  
  @media (max-width: 768px) {
    .details-name {
      font-size: 1.5rem;
    }
    
    .details-extra h4 {
      font-size: 14px;
    }
    
    .add-cart-details {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .details-name {
      font-size: 16px;
    }
    
    .details-extra h4 {
      font-size: 12px;
    }
    
    .add-cart-details {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  

 